#fs-toggle:not(:fullscreen) {
  background-color: #afa;
}

#fs-toggle:fullscreen {
  background-color: #faa;
}

body {
  background-color: #faa;
}

label {
  color: white;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}
